.QuestionMarkButton {
  font-family: "Rubiks";
  font-weight: 700;
  font-size: 20px;
  width: 25px;
  height: 25px;
  border: 3px solid;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.QuestionMarkButtonOuterDiv{
  border: 0px solid;
  height: 25px;
  width: 25px;
  align-items: flex-end;
  padding-top: 5px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 9999;
}

.DialogueBox {
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: thin;
  padding: 10px;
  border: 1px solid;
  border-radius: 1px;
  width: 325px;
  height: 250px;
  background-color: #d7dadd;
  font-family: "Rubiks";
  font-weight: 200;
  font-size: 20px;
  color: #35393d;
  scrollbar-width: auto;
  scrollbar-color: #888 #f1f1f1;
  position: relative;
  top: 0; 
}
