/* Apply custom styles to the checkoff button */
.NonAutomatedCheckoffButton {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  margin: 0 auto;
  max-width: 600px;
  line-height: 1;
  display: inline-block;
  vertical-align: top;
  color: #0072CE;
  font-family: "Rubik", sans-serif;
  border-radius: 5px; /* Rounded corners */
  fill: #fff; /* White checkmark */
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="checkbox"] {
  margin-left: 10px;  /* adjust as needed */
  width: 20px;  /* adjust as needed */
  height: 20px;  /* adjust as needed */
}