<div class="container">
    <span>{{ pageTitle }}</span>
    <p>I hate this</p>
    <mat-tab-group>
      <mat-tab label="First"> Content 1 </mat-tab>
      <mat-tab label="Second"> Content 2 </mat-tab>
      <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group>
    <mat-card class = "outter-card">
    <div class = "card-content-container">
      <div class = "card-image">
      <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">
      </div>
      <div class = "card-text">
        <mat-card-title class = "title-option">Welcome to example!</mat-card-title>
        <mat-card-subtitle class = "explanation-option">I'm explaining the process of explaining! Woah, isn't that great!</mat-card-subtitle>
      </div>
      <div class = "data-field-1">
        Bagels Collected: 12,540
      </div>
      <div class = "data-field-2">
        Bread Sliced: 180,000
      </div>
      <div class = "checkbox-field">
        check?
      </div>
    </div>
  </mat-card>
    </div>
