.modal-base {
    
    max-width: 800px;
    min-height: 600px;
    margin: 20px auto; /* Center the frame */
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}
  
  .modal-header {
    background-color: lavender;
    min-height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
  } 
  
  .modal-body {
    background-color: skyblue;
    min-height: 300px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .modal-footer {
    background-color: pink;
    min-height: 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
  }
  