.modal-base {
    max-width: 800px;
    max-height: 600px;
    margin: 20px auto; /* Center the frame */
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background-color: white;
}
  
  .modal-header {
    display: flex;
    flex-direction: column;
    background-color: lavender;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    flex: 1 1 auto;
  } 
  
  .modal-body {
    background-color: skyblue;
    min-height: 300px;
    padding: 20px;
    box-sizing: border-box;
    flex: 1 1 auto;
  }
  
  .modal-footer {
    flex: 0 1 auto;
    background-color: pink;
    min-height: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
  }

  .tab-drawer {
    flex: 0 1 auto;
    padding: 20px;
  }

  .tab-drawer.empty {
    flex: 0 1 auto;
    padding: 0px;
  }

  .page-label-text {
    margin: 0px;
    font-size: smaller;
  }

  .header-text {
    margin-bottom: auto;
    margin-top: 30px;
  }

  .subtitle-text {
    margin-top: 10px;
    margin-bottom: 10px;
  }


  