.PrevNext-Button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

/* Styles for the Previous button */
.PrevNext-Button.PrevNext-Button--previous {
  color: #000; /* black text */
  background-color: #fff; /* white background */
}

/* Styles for the Next button */
.PrevNext-Button.PrevNext-Button--next {
  color: #fff; /* white text */
  background-color: #0072CD; /* blue background */
}

.PrevNext-Button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.PrevNext-Button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.PrevNext-Button--large {
  font-size: 16px;
  padding: 12px 24px;
}
