/* Overall card container */
.card-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
  gap: 25px;
  font-family: "Rubik", sans-serif;
}

/* Individual sections */
.card-image {
  margin: auto;
  order: 1;
  flex: auto;
  border-radius: 100px;
}

.title-option {
  font-size: 13pt;
  padding-bottom: 5px;
}

.explanation-option {
  font-size: 10pt;
}

.data-field-1 {
  margin: auto;
  order: 3;
  flex: auto;

}

.data-field-2 {
  margin: auto;
  order: 4;
  flex: auto;

}

.checkbox-field {
  margin: auto;
  order: 5;
  flex: auto;
}

.info-component-container {
  margin: auto;
  order: 6;
  flex: auto;
}

.card-title-area {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  order: 2;
  margin: auto;
  flex: auto;
}

.outter-card {
  margin: 20px;
  border-radius: 25px;
}

.outter-card:hover {
  cursor: pointer;    /* Indicate clickability */
  opacity: 0.8;      /* Slightly dim for feedback */
}

