.ButtonsWithLinks {
  display: flex;
padding: 0.5rem 1.875rem;
flex-direction: column;
align-items: flex-start;
gap: 0.625rem;
border-radius: 2.5rem;
background: var(--Foundation-Green-green-400, #0BB26B);
  /* display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  padding: 0.5rem 1.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 2.5rem;
  background: var(--Foundation-Green-green-400, #0BB26B);
  
  color: #D2D9E6; */

/* Paragraph/P - Bold - 16pt Rubik */
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #0BB26B;

  transition: background-color 0.3s ease;
}





