.NonAutomatedCheckoffButton {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  margin: 0 auto;
  max-width: 600px;
  line-height: 1;
  display: inline-block;
  vertical-align: top;
  color: #0072CE;
  font-family: "Rubik", sans-serif;
  border-radius: 5px; /* Rounded corners */
  fill: #fff; /* White checkmark */
}

  .checkmark-circle {
    display: flex;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .checkmark-circle svg {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
  }

  .task-container {
    display: flex;
    align-items: center;
  }