.PopUpForm-Button {
  position: relative;
  font-family: "Rubiks, sans-serif";
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  line-height: 1;
  color: white;
  background-color: #02AE66;
  font-size: 14px;
  padding: 11px 20px;
  /* margin-top: 15px; */
  z-index:99;
}

.popUpComponent{
  position:absolute;
  z-index: 100;
  top:0;
  left: 0;
}
